.header {
    padding: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        display: flex;
        gap: 1.5rem;
    }

    &-perfil {
        display: flex;
        align-items: center;
        gap: 2rem;
        
        &--name {
            color: $color-profile;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}

.menu {
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .menu {
        display: none;
    }
}