.sidebar {
    margin-top: 3rem;
    width: $sidebar-size-default;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    transition: all .5s;

    &.active {
        width: $sidebar-size-active;

        & .sidebar-box:hover {
            background-color: red;
            border-radius: 5px;
        }
    }

    &-box {
        display: flex;
        align-items: center;
        gap: 1.9rem;
        cursor: pointer;
        padding: .5rem;

        &--name {
            font-size: 2.2rem;
            color: $color-sidebar-text;
        }
    }
}

@media screen and (min-width: 800px) {
    .sidebar {
        width: $sidebar-size-active;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
        position: absolute;
        z-index: 100;
        background-color: $color-background-main;
        min-height: 100vh;
        margin-top: 0;
        padding-top: 3rem;

        &.active {
            display: flex;
        }
    }
}