$color-background-main: #1A1A1A;
$color-background-content: #1F1F1F;
$color-background-balance: #292929;

$color-profile: #EDEDED;
$color-sidebar-text: #FFFFFF;
$color-content-text: #DEDEDE;

$sidebar-size-active: 20rem;
$sidebar-size-default: 2.5rem;

$color-border-table: #C4C4C4;