* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-background-main;
}

.grid {
    margin: 3rem;
    margin-top: 0;

    display: flex;
    gap: 3rem;
}

